h1{
	text-align: center;
	font-size: 2em;
	font-family: Garamond;
}
.line{
	width: 100%;
	height: 2px;
	background-color: #000000;
}
img{
	display: block;
	margin: auto;
	border: 1px solid black;
}
a:link{
	display: block;
	text-decoration: none;
	color: #000000; 
	text-align: center;
}
a:visited{
	display: block;
	text-decoration: none;
	color: #000000;
	text-align: center;
}
a:hover{
	display: block;
	text-decoration: underline;
	color: #000000;
	text-align: center;
}