h1{
	text-align: center;
	font-size: 2em;
	font-family: Garamond;
}
h4{
	margin-left: 2.5em;
}
@media (min-width: 910px){
	p{
		margin-left: 2.5em;
		line-height: 40%;
	}
	h3{
		text-align: center;
		font-family: serif;
		line-height: 20%;
		font-size: 1em;
	}
}
@media (max-width: 909px){
	p{
		margin-left: 2.5em;
	}
	h3{
		text-align: center;
		font-family: serif;
		font-size: 1em;
	}
}
a:link{
	text-decoration: none;
	color: #000000;
}
a:visited{
	text-decoration: none;
	color: #000000;
}
a:hover{
	text-decoration: none;
	color: #000000;
}
.line{
	width: 100%;
	height: 2px;
	background-color: #000000;
}
.underline{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}
.italics{
	font-style: italic;
	float: right;
}
